{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style_createAccount.css' %}">
</head>
<body>
  <a href="{% url 'login' %}">Voltar ao login</a>
  <div class="page_create_account">
    <form method="post">
      <h1 class="titleLogin">Create Account</h1>
      <p class="paragrafoLogin">Digite os dados abaixo:</p>
      <label for="email">E-mail</label>
      <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
      <label for="password" placeholder="Digite sua senha">senha</label>
      <input type="password" placeholder="Digite sua senha"/>
      <input type="submit" value="Create" class="btn" />
    </form>

  </div>
  
  
</body>
</html>